# AresKernel configuration file
CONFIG_CPU_QUIET=y
CONFIG_CPU_QUIET_GOVERNOR_USERSPACE=y
CONFIG_CPU_QUIET_GOVERNOR_RUNNABLE=y
CONFIG_CPU_QUIET_GOVERNOR_RQBALANCE=y
CONFIG_CPU_QUIET_DEFAULT_GOV_USERSPACE=y
# CONFIG_CPU_QUIET_DEFAULT_GOV_RUNNABLE is not set
# CONFIG_CPU_QUIET_DEFAULT_GOV_RQBALANCE is not set
CONFIG_CPU_QUIET_EXYNOS=y
CONFIG_CPU_BOOST=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O3_OFAST_SUB_OPTIONS=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
